# Environnement: development ou production
APP_ENV=development
#APP_ENV=production
APP_BASE_URL=http://localhost:8000

# Base de données
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sae_colis
DB_USER=root
DB_PASSWORD=root_password

# CAS (authentification université)
CAS_HOST=cas.univ-paris13.fr
CAS_CONTEXT=/cas/
CAS_PORT=443
CAS_CA_CERT=

# UIDs des administrateurs (séparés par des virgules)
ADMIN_UIDS=admin1,admin2
